<h2 class="title">パスワードの再設定</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
  </div>

  <div class="actions">
    <%= f.submit "再設定用のメールを受け取る", class: "button is-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
